---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	   <style>
			 ul{
				list-style:none;
				position:relative;
				padding:1rem;
			 }
			 li{

				transition:height 0.25s ease-in;
		      height:2.5rem;
				overflow:hidden;
				margin-bottom:1rem;
			 }
			 
		  li:first-child {
  margin-top: 0;
		  }
		  li{
			 top:0px;
			 postion:absolute;

		  }

			 li:hover{
				z-index:10;
				height:7rem;
			 }
			 li a{
				opacity:1!important;
				display:flex;
				justify-content:space-between;
				align-items:center;
				background:#eee;
				padding:0.5rem 1rem;
				text-decoration:none;
				margin:auto;
				box-shadow:0 -1x 3px 3px rgba(55,55,55,0.6);

			 }
			 .cover{
				background:white;
				padding:0.5rem 1rem;
			   padding-top:0.15rem;
				font-size:0.85rem;
				margin-bottom:1.5rem;
				/* box-shadow:0 1px 5px 2px rgba(0,0,0,0.15); */
				opacity:0.8;
			 }


					</style>
	</head>
	<body>
		<Header />
		<main>
		  <section>
			 <h1>blog list</h1>
			 <p>
			 collection of all my blogs sorted in chronological order , most of it is algorithms and related to computer 
			 setup and stuff more yet to come 
			 </br>
			 </br>
			 </p>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
								  	{post.data.heroImage && (
									<!-- <Image width={720} height={360} src={post.data.heroImage} alt="" />-->
									)}
									{post.data.title}
									<FormattedDate date={post.data.pubDate} />
								
								</a>
								<div class="cover">
								  <p>{post.data.description}
									</p>
								</div>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>


